.share-guide-wrapper {
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}
.share-guide-wrapper img{
  top: 0;
  right: 0;
  width: 100%;
  position: absolute;
}

.sub-msg-wrapper {
  background-color:rgba(0,0,0,0.6);
  --webkit-background-color:rgba(0,0,0,0.6);
  color: #ffffff;
  /*position: fixed;*/
  /*z-index: 100;*/
  /*top: 0;*/
  /*left: 0;*/
  /*right: 0;*/
}
