
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

p, h1, h2, h3, h4, h5, h6, ul, li, dl, dd, dt, form {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.mt5 {
  margin-top: 10rpx;
}

.mt10 {
  margin-top: 20rpx;
}

.mt15 {
  margin-top: 30rpx;
}

.mt20 {
  margin-top: 40rpx;
}

.mt30 {
  margin-top: 60rpx;
}

.mb5 {
  margin-bottom: 10rpx;
}

.mb10 {
  margin-bottom: 20rpx;
}

.mb15 {
  margin-bottom: 30rpx;
}

.mb20 {
  margin-bottom: 40rpx;
}

.ml5 {
  margin-left: 10rpx;
}

.ml10 {
  margin-left: 20rpx;
}

.ml15 {
  margin-left: 30rpx;
}

.ml20 {
  margin-left: 40rpx;
}

.ml25 {
  margin-left: 50rpx;
}

.mr5 {
  margin-right: 10rpx;
}

.mr10 {
  margin-right: 20rpx;
}

.mr15 {
  margin-right: 30rpx;
}

.mr20 {
  margin-right: 40rpx;
}

.md5 {
  margin: 10rpx 10rpx;
}

.md10 {
  margin: 20rpx 20rpx;
}

.md15 {
  margin: 30rpx 30rpx;
}

.md20 {
  margin: 40rpx 40rpx;
}

.md25 {
  margin: 50rpx 50rpx;
}

.pt5 {
  padding-top: 10rpx;
}

.pt10 {
  padding-top: 20rpx;
}

.pt15 {
  padding-top: 30rpx;
}

.pt20 {
  padding-top: 40rpx;
}

.pt30 {
  padding-top: 60rpx;
}

.pb5 {
  padding-bottom: 10rpx;
}

.pb10 {
  padding-bottom: 20rpx;
}

.pb15 {
  padding-bottom: 30rpx;
}

.pb20 {
  padding-bottom: 40rpx;
}

.pb30 {
  padding-bottom: 60rpx;
}

.pl5 {
  padding-left: 10rpx;
}

.pl10 {
  padding-left: 20rpx;
}

.pl15 {
  padding-left: 30rpx;
}

.pl20 {
  padding-left: 40rpx;
}

.pl30 {
  padding-left: 60rpx;
}

.pr5 {
  padding-right: 10rpx;
}

.pr10 {
  padding-right: 20rpx;
}

.pr15 {
  padding-right: 30rpx;
}

.pr20 {
  padding-right: 40rpx;
}

.pr30 {
  padding-right: 60rpx;
}

.pd5 {
  padding: 10rpx 10rpx;
}

.pd10 {
  padding: 20rpx 20rpx;
}

.pd15 {
  padding: 30rpx 30rpx;
}

.pd20 {
  padding: 40rpx 40rpx;
}

.pd30 {
  padding: 60rpx 60rpx;
}

.color-black {
  color: #000000;
}

.color-black-light {
  color: #525151;
}

.color-dark {
  color: #3d3d3d;
}

.color-blue {
  color: #39a9ed;
}

.color-gray {
  color: rgba(69, 90, 100, .6);
}

.color-gray-dark {
  color: #999;
}

.color-white {
  color: #ffffff;
}

.color-red {
  color: #ec3d0c;
}

.color-orange {
  color: #ff6b0e;
}

.color-pink {
  color: #e84c75;
}

.color-green {
  color: #13ca87;
}

.bg-color-white {
  background-color: #ffffff;
}

.bg-color-gray {
  background-color: #ececec;
}

.bg-color-gray-light {
  background-color: #f8f8f9;
}

.bg-color-blue {
  background-color: #aad5ff;
}

.bg-color-black {
  background-color: #000000;
}

.bg-color-orange {
  background-color: #ff6b0e;
}

.bg-color-green {
  background-color: #13ca87;
}

a.blue {
  color: #20A0FF;
}
a.orange {
  color: #ff6b0e;
}
a.red {
  color: #dd0000;
}
a.white {
  color: #ffffff;
}
a.black {
  color: #222222;
}
a.color-gray-dark {
  color: #999;
}
a.button-primary {
  width: auto;
  padding: 20rpx 40rpx 20rpx 40rpx;
  text-align: center;
  color: #ffffff;
  background: #20a0ff;
  display: inline-block;
}

a.button-orange {
  width: auto;
  padding: 20rpx 40rpx 20rpx 40rpx;
  text-align: center;
  color: #ffffff;
  background: #ff6b0e;
  display: inline-block;
}

a.button-gray {
  width: auto;
  padding: 20rpx 40rpx 20rpx 40rpx;
  text-align: center;
  color: #ffffff;
  background: #999;
  display: inline-block;
}

.link {
  cursor: pointer;
}

.font12 {
  font-size: 24rpx;
}

.font13 {
  font-size: 26rpx;
}

.font14 {
  font-size: 28rpx;
}

.font15 {
  font-size: 30rpx;
}

.font16 {
  font-size: 32rpx;
}

.font20 {
  font-size: 40rpx;
}

.font25 {
  font-size: 50rpx;
}

.font30 {
  font-size: 60rpx;
}

.font40 {
  font-size: 80rpx;
}

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.h100 {
	height: 100vh;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

.w33 {
  width: 33%;
}

.font-larger {
  font-size: 42rpx;
}

.font-large {
  font-size: 38rpx;
}

.font-biger {
  font-size: 34rpx;
}

.font-big {
  font-size: 30rpx;
}

.font-common {
  font-size: 28rpx;
}

.font-small {
  font-size: 24rpx;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-centerV {
  vertical-align: middle;
}

.text-right {
  text-align: right;
}

.text-vertical-center {
  vertical-align: center;
}

.underline {
  text-decoration: underline
}

.border-top-gray {
  border-top: 1rpx solid #ECF0F5;
}

.border-top-white {
  border-top: 1rpx solid #FFFFFF;
}

.border-bottom-gray {
  border-bottom: 1rpx solid #ECF0F5;
}

.border-bottom-white {
  border-top: 1rpx solid #FFFFFF;
}

.border-right-gray {
  border-right: 1rpx solid #ECF0F5;
}

.border-right-white {
  border-right: 1rpx solid #FFFFFF;
}

.border-left-gray {
  border-left: 1rpx solid #ECF0F5;
}

.border-left-white {
  border-left: 1rpx solid #FFFFFF;
}

.border-orange {
  border: 1rpx solid #ff6b0e;
}

.line-gray {
  height: 1rpx;
  width: 100%;
  background: #ECF0F5;
}

.line-white {
  height: 1px;
  width: 100%;
  background: #FFFFFF;
}

.strong {
  font-weight: bold;
}

.table {
  width: 100%;
  height: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.table tr {
  border: 1rpx solid #DDDDDD;
  padding: 10rpx 10rpx;
}

.table th, .table td {
  vertical-align: middle;
}

.table th {
  background: #f2f2f2;
  line-height: 70rpx;
}

.table-grid td {
  border-right: 1rpx solid #DDDDDD;
}

.table-grid td:last-child {
  border-right: none;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-1 {
  flex: 1
}

.flex-2 {
  flex: 2
}

.flex-3 {
  flex: 3
}

.flex-4 {
  flex: 4
}

.flex-5 {
  flex: 5
}

.flex-6 {
  flex: 6
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-centerH {
  justify-content: center;
}

.flex-centerV {
  align-items: center;
}

.flex-top {
  align-items: flex-start;
}

.flex-bottom {
  align-items: flex-end;
}

.flex-left {
  justify-content: flex-start;
}

.flex-right {
  justify-content: flex-end;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.invisibility {
  background-color: transparent;
  padding: 0rpx;
  margin: 0rpx;
  display: inline;
  position: static;
  border: 0rpx;
  padding-left: 0rpx;
  padding-right: 0rpx;
  border-radius: 0rpx;
  font-size: 0rpx;
  color: transparent;
  line-height: 1;
}

.invisibility::after {
  content: '';
  width: 0rpx;
  height: 0rpx;
  -webkit-transform: scale(1);
  transform: scale(1);
  display: none;
  background-color: transparent;
}
