.img-uploader-wrapper {
	border: 1px dashed #d6d6d6;
	display: inline-block;
	height: 120px;
	width: 120px;
	position: relative;
	border-radius: 6px;
	background: #ffffff;
}

.img-uploader-wrapper img {
	height: 120px;
	width: 120px;
	border-radius: 6px;
}

.img-uploader-wrapper .btn-icon {
	display: inline-block;
	height: 20px;
	width: 20px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	z-index: 1;
}

.share-guide-wrapper {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10000;
}

.share-guide-wrapper img {
	top: 0;
	right: 0;
	width: 100%;
}

.status-bar {
	height: var(--status-bar-height);
	width: 100%;
}

.primary-color {
	color: #33b5bd;
}

.primary-bg-color {
	background-color: #33b5bd;
}

.round-box {
	border-radius: 24rpx;
}

.bottom-wrapper {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	/* height: 80rpx; */
	padding-top: 20rpx;
	padding-bottom: calc(10px + env(safe-area-inset-bottom));
}

.empty-box {
	height: calc(70px + env(safe-area-inset-bottom));
}

.btn-round {
	height: 100rpx;
	border-radius: 50rpx;
}
